---
import Button from "../components/button.astro"
import { storyblokEditable } from "@storyblok/astro";
const { blok } = Astro.props

let linkURL = "";

switch (blok.link.linktype) {
  case "url":
  case "asset":
    linkURL = blok.link.url
    break;
  case "email":
    linkURL = `mailto:${blok.link.url}`;
    break;
}
---

<div class:list={[
  blok.alignment,
]}>
  <a href={linkURL} target={blok.link?.target} ref="noopener" {...storyblokEditable(blok)}>
    <Button text={blok.text} />
  </a>
</div>
