---
interface Props {
  blok: {
    style: string;
    alignment: string;
    text: ISbRichtext;
  };
}
import { storyblokEditable, renderRichText, type ISbRichtext } from "@storyblok/astro";

const { blok } = Astro.props;
---

<div class:list={[
  "notification",
  blok.style === "default" ? "" : blok.style,
  blok.alignment
]}
     set:html={renderRichText(blok.text)}
     {...storyblokEditable(blok)}>
</div>
