---
import { storyblokEditable } from "@storyblok/astro";
import ordinal from "ordinal";

const { blok, prizeIndex } = Astro.props;
---

<div class="column" {...storyblokEditable(blok)}>
  <div class="card">
    <div class="card-header">
      <div class="card-header-title">
        {ordinal(prizeIndex + 1)} Prize
      </div>
    </div>
    <div class="card-image">
      <figure class="image">
        <img
          src={blok.image_src.filename}
          alt={blok.image_src.alt}
          title={blok.name}
          loading="lazy"
        />
      </figure>
    </div>
    <div class="card-content has-text-centered">
      {blok.name}
    </div>
  </div>
</div>

<style lang="scss">
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;

    img {
      max-height: 400px;
      max-width: 80%;
    }
  }
</style>
