box.astro
---
interface Props {
  blok: {
    is_mobile: boolean;
    row_content?: Array<SbBlokData>;
  };
}

import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
const { blok } = Astro.props;
---

<div class:list={[
  "columns",
  { "is-mobile": blok.is_mobile }
]}>
  {blok?.row_content?.map(blok => (
    <StoryblokComponent
      blok={blok}
      {...storyblokEditable(blok)}
    />))}
</div>
