---
interface Props {
	blok: {
		sponsors: Array<SbBlokData>;
	};
}
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
const { blok } = Astro.props;
import { getGlobalSettings } from "../utils/stories";
import { DateTime } from "luxon";

const globalSettings = await getGlobalSettings();

const copaFestDateTime = DateTime.fromSQL(
	globalSettings.copafest_date
);
const copaFestYear = copaFestDateTime.year;
---

<h3 class="is-size-3 has-text-centered">{copaFestYear} Sponsors</h3>
<div class="sponsors-container" {...storyblokEditable(blok)}>
	{blok.sponsors?.map((sponsor: SbBlokData) => (
		<StoryblokComponent blok={sponsor} />
	))}
</div>

<style lang="scss">
  .sponsors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
  }
</style>
