---
import Layout from "../layouts/default.astro";

const { pageName } = Astro.props;
---

<Layout pageTitle={pageName}>
	<section class="section">
		<div class="container has-text-centered">
			<div class="box">
				<h1 class="is-size-1">404</h1>
				<h3 class="is-size-3">Page Not Found</h3>
				<p>Calling CQ won't help in this instance. Perhaps try another frequency?</p>
			</div>
		</div>
	</section>
</Layout>
