---
import Layout from "../layouts/default.astro";
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro"
import { getAllStories, getStory } from "../utils/stories";
export async function getStaticPaths() {
  const allStories = await getAllStories();

  const slugsToNotGenerate = [
    "global/settings",
    "index"
  ];

  return allStories.filter(s => {
    return !slugsToNotGenerate.includes(s.full_slug);
  }).map(s => {
    return {
      params: {
          slug: s.full_slug,
      },
      props: {
        slug: s.full_slug,
        pageName: s.name,
        pageContent: s.content.page_content,
      }
    };
  });
}

let { slug, pageName, pageContent } = Astro.props;

// keep up with Storyblok updates in Dev Mode
if (import.meta.env.DEV) {
  const story = await getStory(slug);

  pageName = story.name;
  pageContent = story.page_content;
}
---

<Layout pageTitle={pageName}>
  <section class="section">
    <div class="container">
      <div class="content">
        {pageContent?.map(blok => (
          <StoryblokComponent
            blok={blok}
            {...storyblokEditable(blok)}
          />))}
      </div>
    </div>
  </section>
</Layout>
