---
interface Props {
  type?: string;
  text: string;
}

const { text, type = "button" } = Astro.props
---

<button type={type} class="square-button square-button--yellow">
  {text}
</button>

<style lang="scss">
  @use "../assets/global" as global;

  .square-button {
    cursor: pointer;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0.5rem 0;
    box-shadow: 0 2px 2px darkgray;

    &--yellow {
      color: black;
      border-style: hidden;
      background-color: global.$az-yellow;
    }

  }
</style>
